
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Register.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-4 text-center">
            <h1 class='text-white'>Registro</h1>
            <div class="form-login">
                </br>
                <h4>Datos</h4>
                </br>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Email" />
                </br></br>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Nombre" />
                </br></br>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Primer Apellido" />
                </br></br>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Segundo Apellido" />
                </br></br>
                <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br></br>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-danger btn-md">Registro <i class="fa fa-check-square-o"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </br></br></br>
    <!--footer-->
    <div class="footer text-white text-center">
        <p>© 2020 Unique Login Form. All rights reserved | Design by <a href="https://freecss.tech">Free Css</a></p>
    </div>
    <!--//footer-->
</div>


